
table.search-result-table {
    color: indigo;
    border: 1px solid darkgreen;
    /*padding: 3px;*/
}

table.search-result-table th, table.search-result-table td {
    border: 1px solid darkgreen;
    padding: 3px;
}





