
/* This is the General Styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: white;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
}

body::before {
    display: block;
    content: '';
    height: 112px;
}

.my-hidden {
    display: none;
}

i {
    vertical-align: middle;
    font-size: 26px;
}

/*header main section nav.my-navbar-1 div div ul{*/
/*    width: 100%;*/
/*}*/

header main section nav.my-navbar-2 div div ul li a {
    text-transform: uppercase;
}

#my-shop-by-brand h2 {
    font-size: x-large;
    font-weight: 700;
    text-transform: uppercase;
}

#my-shop-by-brand p {
    font-weight: bold;
    color: gray;
}




/* ########## Testing Section ########## */

/*header main, footer main {*/
/*    color: gray;*/
/*}*/

/*h1 {*/
/*    color: darkblue;*/
/*}*/








